/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
	--section-text-color: #F1B2CE;
	--section-title-color: #ff0070;
	--subtitle-color: #000028;
	--subtitle-bg-color: #FF0070;
	--menu-color: #FF0070;
	--menu-hover-color: rgb(255 0 112 / 0.4);
	--decor-color: #FF0070;
	--decorative-element-color: #FF0070;
	--logo-color: #DB00FF;
	--logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
	--text-shadow-color: #FF0070;
	--main-font: 'IBM Plex mono';
	--font-weight: 400;
	--bg-image: url(../images/cover-image-dark.png);
}

@media (width >= 1024px) {
  .logo {
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
} 
